/* = Reset = */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #000; }

a:visited { color: #333; }

a:hover { color: #000; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

::-moz-selection { background: #666; color: #fff; text-shadow: none; }

::selection { background: #666; color: #fff; text-shadow: none; }

a { text-decoration: none; }

/* = Custom style starts here = */

body { background-color: #fff; font-family: 'Lato', sans-serif; }

.right { float: right; }

header { position: absolute; width: 100%; height: 60px; background-color: #2c4350; border-bottom: 1px solid rgba(255, 255, 255, 0.2); z-index: 9; }
header li { float: left; }


.logo { padding: 22px 12px; padding-left: 24px; font-size: 16px; color: #fff; font-weight: bold; text-transform: uppercase; }
/*.menu { padding: 24px 12px; font-size: 12px; text-transform: uppercase; }*/