<section style="padding: 100px 0; width: 100%; width: 960px; margin: 0 auto;">
	<h1 style="color: #fff; text-transform: uppercase; font-size: 48px;">{{Champion.Name}}</h1>
	<p style="color: #fff; text-align: center; text-transform: uppercase; font-size: 12px; padding-top: 20px; letter-spacing: 3px; font-weight: bold;">
		{{Champion.Title}}
	</p>
	<br>
	<section style="width: 240px; margin: 0 auto;">
		<img src="assets/champions/{{ChampionID}}.png" alt="" width="64" height="64"></img>
		<p style="color: #fff; text-align: left; text-transform: uppercase; font-size: 12px; padding-top: 20px; letter-spacing: 3px; font-weight: bold;">
			<img ng-src="{{Abilities['Passive'].Icon}}" alt="" width="32" height="32"></img>
			Passive: {{Abilities["Passive"].Name}}
			<br><br>
			<span ng-repeat="Ability in Abilities['Q']">
				<img ng-src="{{Ability.Icon}}" alt="" width="32" height="32"></img> Q: {{Ability.Name}}
				<br><br>
			</span>
			<span ng-repeat="Ability in Abilities['W']">
				<img ng-src="{{Ability.Icon}}" alt="" width="32" height="32"></img> W: {{Ability.Name}}
				<br><br>
			</span>
			<span ng-repeat="Ability in Abilities['E']">
				<img ng-src="{{Ability.Icon}}" alt="" width="32" height="32"></img> E: {{Ability.Name}}
				<br><br>
			</span>
			<span ng-repeat="Ability in Abilities['R']">
				<img ng-src="{{Ability.Icon}}" alt="" width="32" height="32"></img> R: {{Ability.Name}}
				<br><br>
			</span>
		</p>
	</section>
</section>