<section style="padding: 100px 0; width: 100%; width: 960px; margin: 0 auto;">
	<h1 style="color: #fff; text-transform: uppercase; font-size: 48px;">{{Summoner.Name}}</h1>
	<section style="width: 240px; margin: 0 auto;">
		<div style="display: inline-block;">
			<img src="{{Summoner.Icon}}" alt="" width="64" height="64"></img>
		</div>
		<div style="display: inline-block;">
			<p style="color: #fff; text-align: left; text-transform: uppercase; font-size: 12px; padding-top: 20px; letter-spacing: 3px; font-weight: bold;">
				Level: {{Summoner.Level}}
				<br>
				Region: {{Summoner.Region}}
			</p>
		</div>
		<ul>
			<li class="menu left"><a href="{{Links.Stats}}">Stats</a></li>
			<li class="menu left"><a href="{{Links.Masteries}}">Masteries</a></li>
		</ul>
	</section>
</section>