<style>
.statbar {
	height: 20px;
	position: relative;
	background: #2c4350;
	padding: 10px;
	text-align: center;
}

.statbar > span {
	display: block;
	height: 100%;
	color: #fff;
	background-color: #000;
}

#wins {
	background-color: #4dff79;
}

#losses {
	background-color: #ff3333;
}
</style>
<section style="padding: 100px 0; width: 100%; width: 960px; margin: 0 auto;">
	<h1 style="color: #fff; text-transform: uppercase; font-size: 48px;">{{Summoner.Name}} | Stats</h1>
	<div class="statbar">
		<span id="wins" style="width: {{getWinRate()}}%">Wins ({{getWinRate()}}%)</span>
	</div>
</section>